.body
{
    background-image: radial-gradient(#27d989 2px, transparent 3px);
    background-size: 80px 80px;
}

@keyframes scale
{
    0%{
          transform: scaleX(0) scaleY(0);
    }

    100%{
          transform: scaleX(1) scaleY(1);
    }
}

.body:hover
{
  background-size: 160px 160px;
}

.bg_image a
{
    display: inline-block;
    background: green;
    line-height: 0;

    animation: scale 3s;
}

.bg_image a img
{
    transition: filter 0.5s linear;
    filter: brightness(2) grayscale(1) opacity(0.5);
}

.bg_image a:hover img
{
    filter: none;
}

.go_back
{
    background: url(../images/page3/go_back.png) no-repeat;
    width: 94%;
}

.find_more
{
    background: url(../images/page3/find_out_more.png) no-repeat;
    left: 427px;
}

.go_back:hover
{
    background: url(../images/page3/go_back_d.png) no-repeat;
    width: 94%;
}

.find_more:hover
{
    background: url(../images/page3/find_out_more_d.png) no-repeat;
}

.l
{
    left: 420px;
    top: 170px;
}

.r{
    top: 170px;
}
