@keyframes rotate
{
  0%{
      transform: scaleY(-1);
      opacity: 0.1;
      transition: 3s;
      top: 600px;
      left: 1200px;
  }

  100%{
      opacity: 1;
      transform: rotate(0);
  }
}

.body
{
    background: linear-gradient(to top, #202020, #111119);
}

.bg_image
{
  animation: rotate 3s ease;
}

@keyframes full-hd
{
    0%{
        transform: translateX(0%);
      }

    100%{
        transform: translateX(-100%);
        }
}

body section:before
{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    background: linear-gradient(to bottom, #202020, #111119);
    transform: translateX(-100%);
    animation: full-hd 3s ease-in-out;
}


.go_back
{
    background: url(../images/page8/go_back.png) no-repeat;
    width: 90%;
}

.find_more
{
    background: url(../images/page8/go_to_home.jpeg) no-repeat;
    left: 432px;
}

.go_back:hover
{
    background: url(../images/page8/go_back_d.png) no-repeat;
    width: 90%;
}

.find_more:hover
{
    background: url(../images/page8/go_to_home_d.png) no-repeat;
}

.simba_text
{
    background: url(../images/page8/text_simba.png) no-repeat;
    width: 160%;
    height: 90%;
    position:absolute;
    left: 448px;
    top: 55px;

    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    transition: 0.6s linear;
}

.simba_text:hover
{
    box-shadow: 315px 0 0 0 rgba(0,0,0,.4) inset;
}

.l
{
    top:196px;
    left: 410px;
}

.r{
    top:196px;
}
